<h1> NEW Form for Portfolio </h1>

<%= render 'form', portfolio_item: @portfolio_item %>

<!--  other way to new form is declare here all code instead of putting
in _form.html.erb
<%= form_for @portfolio_item do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %> -->
