<h3> Show Page is as below: </h3>
<p><h5> shows database with the current id</h5><%= @portfolio_item.inspect %></p>
<h1> <%= @portfolio_item.title %></h1>
<em> <%= @portfolio_item.subtitle %></em>
<p> <%= @portfolio_item.body %></p>
<p> <%= @portfolio_item.main_image %></p>
<p><%= image_tag @portfolio_item.main_image%></p>

<h2> Technologies USed are:</h2>
<% @portfolio_item.technologies.each do|t| %> <%#@portfolio_item is taking id ie similar to Portfolio.last.technologies %>
<p> <%= t.name %></p>
<%end%>
