<%# i create shared/nav so that i put opartials here %>
<div class ="<%= location %>"> <%# location is just a variable but not instance variable. it is local just the way blog partial has (blog) variable. we have location. %>
    <div><%=link_to "HOME", root_path%> </div>
    <div><%=link_to "CONTACT", contact_path%>  </div>
    <div> <%=link_to "ABOUT", about_me_path%> </div>
    <div> <%=link_to "BLOG", blogs_path%> </div>
    <div> <%=link_to "PORTFOLIO", portfolios_path%> </div>
</div>
